body {
  font-size: 16px;
  color: #000;
  background-color: rgb(219, 219, 219);
  font-family: "Oxygen", sans-serif;
}

/* h1 {
  margin: 20px;
} */

/* HEADER */

#header-nav {
  background-color: #969494;
  border-radius: 0;
  border: 0;
  height: 100px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: "Lora", serif;
  color: #000000;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #969494;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
  float: left;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p {
  color: #000;
  text-transform: uppercase;
  font-size: 0.7em;
  margin-top: 15px;
}

.navbar-brand p span {
  vertical-align: middle;
}

#nav-list {
  margin-top: 20px;
  margin-bottom: 20px;
}

#nav-list a {
  color: #000;
  text-align: center;
}

#nav-list a:hover {
  background-color: #e7e7e7;
}

#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #000;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.menu-item {
  background-color: #969494;
  border: 1px solid #222;
  margin-top: 50px;
}

#main-content {
  margin-bottom: 50px;
}

.container .p {
  margin-top: 50px;
  padding: 0;
  height: 1500px;
  border: 2px solid #222;
  width: 100%;
  /* background-color: rgb(211, 211, 211); */
}

/* MEDIA QUERIES */

@media (min-width: 1200px) {
  .container .jumbotron {
    background: url("../images/jumbotron_1200.jpg") no-repeat;
    height: 675px;
  }
}

@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 {
    padding-top: 10px;
    font-size: 5vw;
  }

  .navbar-brand p {
    font-size: 0.6em;
    margin-top: 12px;
  }
  .navbar-brand p img {
    height: 20px;
  }

  #collapsable-nav {
    background-color: #222;
  }

  #collapsable-nav a {
    font-size: 1.2em;
    color: #e7e7e7;
  }

  #collapsable-nav a span {
    font-size: 1em;
    margin-right: 5px;
  }

  .container {
    margin-top: 50px;
  }
}
